:root {
    --header-height: 105px;
    --sidebar-width: 250px;
}

/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    color: #000;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.icon--small {
    font-size: 16px;
}

.icon--medium {
    font-size: 18px;
}

.icon--large {
    font-size: 24px;
}

.button {
    min-width: 100px;
    padding: 6px 16px;
    background: #4285f4;
    text-align: center;
    color: white;
    font-weight: 700;
}

/* ------------------------------------ Header ------------------------------------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    padding: 8px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px -3px 12px #5f6368;
    z-index: 9;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__container ~ .header__container {
    margin-top: 12px;
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo img {
    width: 40px;
    height: 40px;
}

.header__logo span {
    padding-left: 4px;
    color: #5f6368;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 720px;
    height: 48px;
    background: rgb(241, 243, 244);
    border-radius: 8px;
}

.header__search .icon {
    color: #5f6368;
    padding: 8px;
    padding: 0 16px;
    cursor: pointer;
}

.header__search input {
    background: transparent;
    width: 560px;
    max-width: 100%;
    margin-right: auto;
    font-size: 16px;
    flex: 1;
}

.header__action {
    display: flex;
    align-items: center;
}

.header__action .icon {
    margin-right: 16px;
    color: rgb(95, 99, 104);
    cursor: pointer;
}

.header__action > :last-child {
    margin-right: 0;
}

.header__action .avatar {
    border-radius: 50%;
}

.breadcrumb {
    display: flex;
    align-items: center;
    max-width: 720px;
    font-size: 18px;
    color: #5f6368;
    font-weight: 500;
    flex: 1;
}

.icon-right {
    margin: 2px 0;
    padding: 4px 8px 4px;
    font-size: 16px;
}

.breadcrumb .active {
    display: flex;
    align-items: center;
    color: #3c4043;
}

.breadcrumb .active .icon {
    margin-right: 12px;
    margin-left: 8px;
}

/* ------------------------ Sidebar ------------------------ */
.sidebar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.sidebar__list {
    list-style-type: none;
    margin-top: 20px;
    margin-left: -8px;
}

.sidebar__item {
    --height: 40px;
    height: 40px;
    padding-left: 8px;
    border: 1px solid transparent;
    border-radius: 0 66px 66px 0;
    line-height: var(--height);
    font-size: 16px;
    color: rgb(95, 99, 104);
    cursor: pointer;
}

.sidebar__item > span {
    font-weight: 700;
    margin-left: 16px;
}

.sidebar__item:hover {
    background: rgba(95, 99, 104, 0.1);
}

.sidebar__item.active {
    background-color: rgb(218, 231, 254);
    color: rgb(24, 90, 188);
}

.content {
    margin-top: var(--header-height);
    margin-left: var(--sidebar-width);
    width: calc(100% - --sidebar-width);
}

table {
    width: calc(100% - 80px);
    padding-top: 20px;
    margin-right: 12px;
    border-collapse: collapse;
    margin-right: 60px;
}

table tr {
    height: 48px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}

table tr:not(:first-child):hover {
    background: rgba(0, 0, 0, 0.05);
}

table tr:first-child {
    position: sticky;
    top: var(--header-height);
    font-weight: 500;
    color: #3c4043;
    font-size: 14px;
}

table tr th:first-child,
table tr td:first-child {
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 545px;
}

table td {
    background: #fff;
}

table td .icon {
    color: #757575;
    margin-left: 8px;
}

table tr.active td {
    color: #4285f4;
    background: rgb(218, 231, 254);
}

table tr.active .icon {
    color: #4285f4;
}